<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Welcome to our online Real Estate professionals community!</h3>
    </div>
    <div class="panel-body">
        If you are a Real Estate professional and you advertise properties for Rent/Sale to to Auction in Rwanda, please click <a href="/node/add/agent">HERE</a> to create your private and secure Web space. Your webpage will allow you the following:
        <ul>
            <li>Maximise your visibility.</li>
            <li>Appear in in search tools results (ie: Google etc)</li>
            <li>Your clients can see all your adverts on the same webpage</li>
            <li>You can request from us any advert you have posted in the past.</li>
        </ul>
    </div>
</div>