<div class="well well-sm">
    <button type="button" class="btn btn-default"><span>Create profile</span></button>
    <strong>Hey!</strong> Are you a real estate agent/commissioner and you can't find your profile?
</div>