<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-cog"></span> HiR Management Console</h3>
    </div>
    <div class="panel-body">
        <a href="/manage/adverts" class="btn btn-success btn-lg col-md-2 col-md-offset-2 col-xs-12" role="button"><span class="glyphicon glyphicon-list-alt"></span> Adverts</a>
        <a href="/manage/advertisers" class="btn btn-info btn-lg col-md-2 col-xs-12" role="button"><span class="glyphicon glyphicon-user"></span> Advertisers</a>
        <a href="/manage/news" class="btn btn-warning btn-lg col-md-2 col-xs-12" role="button"><span class="glyphicon glyphicon-th-list"></span> News</a>
        <a href="/manage/banners" class="btn btn-danger btn-lg col-md-2 col-xs-12" role="button"><span class="glyphicon glyphicon-bookmark"></span> Banners</a>
    </div>
</div>