<div class="panel panel-default">
    <div class="panel-body">
        Below is a non-exhaustive list of agents/commissioners operating in Rwanda. Use our look up to find the most suitable for you.
    </div>
    <div class="panel-footer">
        <strong>Hey!</strong> Are you a real estate agent/commissioner and you can't find your profile?
        <button type="button" class="btn btn-sm btn-default"><span aria-hidden="true">Create profile</span></button>
    </div>
</div>