{#<div class="alert alert-warning">#}
    {#<strong>Hey!</strong> Are you a real estate agent/commissioner and you can't find your profile?#}
    {#<button type="button" class="btn btn-default"><span aria-hidden="true">Create profile</span></button>#}
{#</div>#}
<div class="panel panel-default">
    <div class="panel-body">
        <strong>Hey!</strong> Are you a real estate agent/commissioner and you can't find your profile?
        <button type="button" class="btn btn-default"><span aria-hidden="true">Create profile</span></button>
    </div>
</div>