<div class="row gx-2">
  <div class="col-6">
    <a href="/services" class="btn btn-warning text-white w-100">{{ 'Post an advert' }}</a>
  </div>
  <div class="col-6">
    <a href="/pr-posting-plans" class="btn btn-danger w-100">{{ 'Request a property' }}</a>
  </div>
</div>
