<div class="panel panel-default">
    <div class="panel-body">
        <h3 style="margin-top: 0">Welcome to our online Real Estate professionals community!</h3>
        If you are a Real Estate professional and you advertise properties for Rent/Sale to to Auction in Rwanda, please click <a href="/node/add/agent">HERE</a> to create <b>your private Web space</b>. Your webpage will allow you the following:
        <ul>
            <li>Maximise your <b>visibility</b>. (ex: Appear in search tools results such as Google, Yahoo, Bing)</li>
            <li>Your clients can see <b>all your adverts on one webpage</b></li>
            <li>For <b>audit purposes</b>, You can request from us any advert you have posted in the past.</li>
        </ul>
    </div>
    <div class="panel-footer">
        <a href="/node/add/agent" class="btn btn-sm btn-default">Create profile</a> <span>Use this button to create your private web space on this platform.</span>
    </div>
</div>