<div class="panel panel-success">
    <div class="panel-heading"><span class="glyphicon glyphicon-home"></span> {{ title }}</div>
    <div class="panel-body">
        <p>Rent in Rwanda RIR Ltd</p>
        <p>KG 28 Ave 72 - Kimihurura</p>
        <p>P.O. Box 4062 Kigali, Rwanda</p>
        <p><span class="glyphicon glyphicon-earphone"></span> +250 788 300 952</p>
        <p><span class="glyphicon glyphicon-envelope"></span> info@rentinrwanda.com</p>
    </div>
</div>