<div class="card border-secondary">
    <div class="card-header bg-secondary text-white"><i class="fas fa-briefcase"></i> {{ title }}</div>
    <div class="card-body">
        <i class="fas fa-check"></i> Property/Real estate advertising<br>
        <i class="fas fa-check"></i> Assessing/Picturing property for advertising<br>
        <i class="fas fa-check"></i> Real estate agents/commissioners listing<br>
        <i class="fas fa-check"></i> Property requests advertising<br>
    </div>
</div>
