<div id="advert-details-block">
    <div class="panel panel-default">
        <div class="panel-heading">Property details</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>ID</dt><dd>{{ advert.nid.value }}</dd>
                <dt>Advert type</dt><dd>{{ advert.field_advert_type.value }}</dd>
                <dt>Price</dt><dd>{{ advert.field_advert_price.value }}</dd>
                <dt>Bedrooms</dt><dd>{{ advert.field_advert_bedrooms.value }}</dd>

            </dl>
        </div>
    </div>
</div>