<div class="panel panel-primary">
    <div class="panel-heading"><i class="fas fa-briefcase"></i> {{ title }}</div>
    <div class="panel-body">
        <i class="fas fa-check"></i> Property/Real estate advertising<br>
        <i class="fas fa-check"></i> Assessing/Picturing property for advertising<br>
        <i class="fas fa-check"></i> Real estate agents/commissioners listing<br>
    </div>
</div>