<div class="panel panel-success">
    <div class="panel-heading"><span class="glyphicon glyphicon-briefcase"></span> {{ title }}</div>
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Property renting advertisement</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Property selling advertisement</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Property management</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Banner advertisement</li>
    </ul>
</div>