<div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-briefcase"></span> {{ title }}</div>
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Property/Real estate advertising</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Assessing/Picturing property for advertising</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Real estate agents/commissioners listing</li>
    </ul>
</div>