<div class="panel panel-success">
    <div class="panel-heading"><span class="glyphicon glyphicon-briefcase"></span> {{ title }}</div>
    <ul class="list-group">
        <li class="list-group-item">Property sales and rent advertisement</li>
        <li class="list-group-item">Property management</li>
        <li class="list-group-item">Banner advertisement</li>
    </ul>
</div>